.product-item-container {
  margin-bottom: 50px;
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 20px lightblue;
  border-radius: 10px;
  background-size: cover;
  text-align: center;
  list-style-type: none;
}
.product-image {
  width: 170px;
  height: 200px;
  padding: 10px;
}
.product-item-container:hover {
  box-shadow: 0px 0px 30px palevioletred;
}
.product-title {
  font-size: 13px;
  text-align: center;
  padding-left: 10px;
}

.product-category {
  font-size: 12px;
  padding-left: 5px;
}
span {
  font-weight: bold;
  font-family: 'Roboto';
  padding-left: 5px;
}

.product-price {
  font-size: 14px;
  padding-left: 5px;
}

@media (max-width: 576px) {
  .product-item-container {
    margin-bottom: 25px;
    height: 270px;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 20px lightblue;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
    list-style-type: none;
  }
  .product-image {
    width: 120px;
    height: 170px;
    padding: 4px;
  }
  .product-item-container:hover {
    box-shadow: 0px 0px 30px palevioletred;
  }
  .product-title {
    font-size: 13px;
    text-align: center;
    padding-left: 10px;
  }

  .product-category {
    font-size: 11px;
    padding-left: 5px;
  }
  span {
    font-weight: bold;
    font-family: 'Roboto';
    padding-left: 4px;
  }

  .product-price {
    font-size: 14px;
    padding-left: 4px;
  }
}
