.filter-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 360px;
  background-size: cover;
}
.filter-container2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
}
.checkbox-input {
  width: 15px;
  height: 15px;
}
.label {
  font-weight: bold;
  font-family: 'Roboto';
  padding-left: 10px;
}
.line {
  width: 90%;
  color: black;
  margin-top: 18px;
  margin-bottom: 10px;
}
.filter-container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}
.filter-heads {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
}

@media (max-width: 576px) {
  .filter-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 180px;
    background-size: cover;
  }
  .filter-container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
  }
  .checkbox-input {
    width: 15px;
    height: 15px;
  }
  .label {
    font-weight: bold;
    font-family: 'Roboto';
    padding-left: 10px;
  }
  .line {
    width: 90%;
    color: black;
    margin-top: 18px;
    margin-bottom: 10px;
  }
  .filter-container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sub-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
  }
  .filter-heads {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: bold;
  }
  .symbol {
    display: none;
  }
}
