.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}
.sub-filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.items {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 17px;
}
.home-head {
  font-size: 45px;
  font-family: 'Bree Serif';
  font-weight: 400;
  text-align: center;
  padding: 20px;
  animation: homehead 1s 1 forwards;
  text-shadow: 0px 0px 10px orange;
}
.home-description {
  width: 400px;
  font-family: 'Roboto';
  font-size: 17px;
  text-align: center;
  padding-bottom: 50px;
  animation: homehead 1s 1 forwards;
}
.horizontal-line3 {
  color: black;
  width: 98%;
  margin-bottom: 20px;
}
.horizontal-line4 {
  color: black;
  width: 98%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.filter-head {
  text-decoration: underline;
  border: none;
  background-color: transparent;
  color: gray;
  font-size: 17px;
  cursor: pointer;
  outline: none;
}
.dropdown-list {
  background-color: none;
  border: none;
  font-size: 15px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.filter-products-container {
  display: flex;
  width: 98%;
  align-items: flex-start;
  justify-content: space-between;
}
.products2-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
@keyframes homehead {
  from {
    transform: translateX(1200px);
  }
  to {
    transform: translateX(0px);
  }
}
.home-head:hover {
  text-shadow: 0px 0px 10px blue;
}

.filter-head2 {
  display: none;
}

@media (max-width: 576px) {
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
  }
  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
  }
  .sub-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }
  .items {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 17px;
    display: none;
  }

  .home-head {
    font-size: 23px;
    font-family: 'Bree Serif';
    font-weight: 400;
    text-align: center;
    padding: 20px;
    animation: homehead 1s 1 forwards;
    text-shadow: 0px 0px 10px orange;
  }
  .home-description {
    width: 400px;
    font-family: 'Roboto';
    font-size: 13px;
    text-align: center;
    padding-bottom: 50px;
    animation: homehead 1s 1 forwards;
  }
  .horizontal-line3 {
    color: black;
    width: 98%;
    margin-bottom: 20px;
  }
  .horizontal-line4 {
    color: black;
    width: 98%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .filter-head {
    display: none;
  }
  .filter-head2 {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    display: block;
  }
  .dropdown-list {
    background-color: none;
    border: none;
    font-size: 14px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .option {
    font-size: 10px;
  }
  .filter-products-container {
    display: flex;
    width: 98%;
    align-items: flex-start;
    justify-content: space-between;
  }
  .products2-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
}
